/** Billetterie à la Une **/
.entry .entry-content .realistic-ticket-block {
	text-align: center;
}

.realistic-ticket-block h2:before {
	display: none;
}

.realistic-ticket-wrapper .realistic-ticket {
	display: inline-block;
	min-width: 280px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(-5deg);
}

.realistic-ticket .realistic-ticket__part-left {
	width: 180px;
	background-position: 0 0;
	transform-origin: 100% 100%;
}

.realistic-ticket:focus .realistic-ticket__part-right,
.realistic-ticket:hover .realistic-ticket__part-right {
	transform: rotate(10deg);
}

.realistic-ticket .realistic-ticket__part-left,
.realistic-ticket .realistic-ticket__part-right {
	position: relative;
	float: left;
	padding: 10px;
    height: 140px;
    /** Remplacer par votre l'URL vers votre image **/
	background-image: url(./billet-wordcamp.png);
	background-repeat: no-repeat;
	background-size: 460px 140px;
	transition: all .15s ease;
}

.realistic-ticket .realistic-ticket__info-label,
.realistic-ticket .realistic-ticket__info-action {
	position: absolute;
	left: 0;
	right: 0;
}

.realistic-ticket .realistic-ticket__info-label {
	top: 0;
	bottom: 50%;
}

.realistic-ticket .realistic-ticket__info-action,
.realistic-ticket .realistic-ticket__info-event,
.realistic-ticket .realistic-ticket__info-label {
	padding: 15px;
	transition: all .15s ease;
}

.realistic-ticket .realistic-ticket__info-action {
	top: 50%;
	bottom: 0;
	color: hsla(0,0%,100%,.9);
}

.realistic-ticket .realistic-ticket__part-right {
	width: 100px;
	border-left: 10px dotted #e8f5f6;
	margin-left: -2px;
	background-position: 100% 0;
	transform-origin: 0 100%;
}

.realistic-ticket .realistic-ticket__info-event {
	position: absolute;
	padding-top: 25px;
	top: 100%;
	left: 0;
	font-weight: 300;
	width: 140px;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	color: rgba(0, 0, 0, .9);
}

@media (min-width: 768px) {
	.home .site-header.featured-image {
		margin-bottom: 0;
	}

	.entry .entry-content .realistic-ticket-block {
		background-color: rgba(191, 220, 234, .4);
		margin-top: 0;
	}

	.realistic-ticket-block h2 {
		text-align: left;
	}

	.realistic-ticket-wrapper {
		position: relative;
		max-width: 70%;
		margin-right: auto;
		margin-left: auto;
	}

	.realistic-ticket-wrapper p {
        margin-bottom: 0;
        margin-right: 20rem;
        text-align: left;
	}

	.realistic-ticket-wrapper .realistic-ticket {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: -20px;
	}
}
@media (min-width: 48em) {
	.realistic-ticket-wrapper {
		padding: 1rem 0;
	}

	.realistic-ticket-wrapper .realistic-ticket {
        transform: rotate(-15deg);
	}

	.realistic-ticket:hover {
        transform: scale(1.1) rotate(-16deg);
	}
}
